<div class="container2">
    <div class="header">
        <h4>ADMINISTRATOR DASHBOARD</h4>
    </div>
    <div class="adminDashboard">
        <h5 style="text-align: center; margin-top: 20px;">WAITERS AVAILABLE FOR THE WEEK..!</h5>

        <table class="u-full-width">
            <thead>
                <tr>
                    {{#each displayDays}}
                    <th style="text-align: center;">{{weekday}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each displayDays}}
                    <td style="text-align: center;" class="{{colors}}">
                        <ol style="list-style: none; display: block;">
                            {{#each waiter}}
                            <li>
                                <h6 style="font-size: 20px; color:#CCD1D1; text-transform:capitalize">{{names}}</h6>
                            </li>
                            {{/each}}
                        </ol>
                    </td>
                    {{/each}}
                </tr>
            </tbody>

        </table>
        <div class="discr">
            <div class="row">
                <label for="">
                    <div class="three columns" style="text-align:center; position:relative; margin-top: 35px">
                        <span style="width:20px; height:20px; background-color:#364156; border: 2px solid#ABB2B9; padding-right: 10px;"></span>
                        More waiters nedded</div>
                </label>
                <div class="two columns" style="text-align:center; position:relative; margin-top: 35px">
                    <label for="">
                        <span style="width:20px; height:20px; background-color: #214E34; border: 2px solid #82E0AA; padding-right: 10px;"></span>
                        3 waiters a day</div>
                </label>
                <label for="">
                    <div class="three columns" style="text-align:center; position:relative; margin-top: 35px">
                        <span style="width:20px; height:20px; background-color:#E74C3C; border: 2px solid#F1948A; padding-right: 10px;"></span>
                        Over subscribed </div>

                </label>
                <div class="four columns" style="margin-left: 270px; margin-top: -35px">
                    <a href="/delete" class="reset">reset <i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>