<div class="container">
    <div class="header">
        <h4>ADMINISTRATOR DASHBOARD</h4>
    </div>
    <div class="adminDashboard">
        <h5 style="text-align: center; margin-top: 0px;">WAITERS AVAILABLE FOR THE WEEK..!</h5>
        <table class="u-full-width" style="margin-top: -16px">
            <thead >
                <tr>
                    <h6>
                        <th style="text-align: center;">WORKING DAYS</th>
                    </h6>
                    <h6>
                        <th style="text-align: center;">WAITER NAMES</th>
                    </h6>

                </tr>
            </thead>
            {{#each displayDays}}
            <tr>
                <td style="padding-left: 10px;"> {{weekday}} </td>
            </tr>
            {{#each waiter}}
            <tr>
                <td> {{names}} </td>
            </tr>
            {{/each}}
            {{/each}}
            <tbody>

            </tbody>
        </table>

        <a href="/delete" class="reset">reset <i class="fas fa-trash"></i></a>
        <br>
        <br>
    </div>
</div>