<div class="container2">
    <div class="header">
        <h4>ADMINISTRATOR DASHBOARD</h4>
    </div>
    <div class="adminDashboard">
        <h5 style="text-align: center; margin-top: 20px;">WAITERS AVAILABLE FOR THE WEEK..!</h5>

        <table class="u-full-width">
            <thead>
                <tr>
                    {{#each displayDays}}
                    <th style="text-align: center;">{{weekday}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each displayDays}}
                    <td style="text-align: center;" class="{{colors}}">
                        <ol style="list-style: none; display: block;">
                            {{#each waiter}}
                            <li>
                                <h6 style="font-size: 20px; color:#CCD1D1; text-transform:capitalize">{{names}}</h6>
                            </li>
                            {{/each}}
                        </ol>
                    </td>
                    {{/each}}
                </tr>
            </tbody>

        </table>
        <div class="discr">
            <div class="row">
                {{!-- <div class="two columns" style="text-align:center;">
                    ftgy
                </div> --}}
                <div class="two columns" style="text-align:center; position:relative">
                    <span style="width:20px; height:20px; background-color: pink; border: ipx solid rgb(231, 24, 24); position:absolute"></span>
                    3 waiters a day
                </div>
                {{!-- <div class="two columns" style="text-align:center;">
                    over subscribed </div> --}}
                {{!-- <div class="six columns">
                    <a href="/delete" class="reset">reset <i class="fas fa-trash"></i></a>
                </div> --}}
            </div>
        </div>
        <br>
        <br>
    </div>
</div>