<div class="container2">
    <div class="header">
        <h4>ADMINISTRATOR DASHBOARD</h4>
    </div>
    <div class="adminDashboard">
        <h5 style="text-align: center; margin-top: 0px;">WAITERS AVAILABLE FOR THE WEEK..!</h5>

        </table>
        <table class="u-full-width">
            <thead>
                <tr>
                    {{!-- <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th> --}}
                    {{#each displayDays}}
                    <th>{{weekday}}</th>
                     {{/each}}
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>

        <a href="/delete" class="reset">reset <i class="fas fa-trash"></i></a>
        <br>
        <br>
    </div>
</div>