<div class="container">
    <div class="header">
        <h4>ADMINISTRATOR DASHBOARD</h4>
    </div>
    <div class="enterDates">
        <div class="boxes">
            <h5 style="text-align: center;">WAITERS AVAILABLE FOR THE WEEK..!</h5>
            {{#each displayDays}}
            <h6>
                <label class="{{color}}" > {{weekday}} </label>
            </h6>
            {{#each waiter}}
            <h6> {{names}} </h6>
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>